body{
    background-color: blue;
}



    .bacan{
  display: inline-block;
        background-color: red;
        border:solid 1px black ;
    width: 280px;
    height: 200px;
    margin: 35px;
    }
     



@media screen and(max-width:420px){

    .bacan{
display: inline-block;

        background-color: rgb(3, 29, 175);
    width: 140px;
    height: 200px;
    margin: 35px;

}
     
}